body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.seccion-quiosco
{
  margin-bottom: 20px;
}

.seccion-quiosco-title
{
  margin-bottom: 20px;
  font-size: 40px;
  background-color: #cccccc;
  padding: 5px 20px;
}

.seccion-quiosco-content
{
  padding-left: 20px;
}

.quiosco-thumb {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    behavior: url(res/pie/PIE.htc);
}

.quiosco-detalle-thumb {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    behavior: url(res/pie/PIE.htc);
}

.quiosco-thumb:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  position: absolute;
  margin-left: -10px;
  margin-top: -20px;
  z-index: 999;
  cursor: pointer;
}

.quiosco-detalle{
  padding: 80px 60px 0 60px;
}

.quiosco-detalle-titulo{
  margin-top: 0;
}

.quiosco-detalle-info{
  padding-left: 20px
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    opacity: 0.75;
    filter: alpha(opacity=75);
    background: #428BCA;
    width:100%;
    height:100%;
    padding:5px;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.caption > h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.thumbnail:hover .caption {
    top:0%;
}